h1{color:rgb(93, 5, 26); font-family:elephant; background-color:pink;}
h2{color:rgb(74, 5, 26);}
p{background-color:rgb(137, 5, 26); color:black; font-family:arial;}
table{background-color:rgb(93, 5, 26) ; color: pink;}
ul{color: red; background-color;purple;}
ol{color:rgb(93, 5, 26); background-color:red;}
form{background-color:black; color:rgb(93, 5, 26); font-family:elephant;}